/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1, p {
    text-align: center;
}

/* Container Styles */
.form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 25px rgba(69, 9, 101, 0.4);
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #00ffff;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.input-container input:focus {
    outline: none;
    box-shadow: 0 0 5px #00ffff;
}

/* Button Styles */
.button-container {
    text-align: center;
}

button {
    background-color: #00ffff;
    color: #000;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008b8b;
}

/* Sign-up Section */
.form-container.signup {
    margin-top: 20px;
    text-align: center;
}

.form-container.signup p {
    margin: 0;
}

.form-container.signup a {
    color: #00ffff;
}
